sudo: false
language: ruby
rvm:
  - 2.5.1
cache: bundler
before_install: gem install bundler -v 1.16.1
before_script:
  - psql -c 'create database courier_tweeter_test;' -U postgres
  - DB_URL="postgres:///courier_tweeter_test" bundle exec rake db:migrate
services:
  - postgresql
addons:
  postgresql: "9.6" # This is the version App Engine uses
